<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Tatuajes</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>

                {% if user.is_authenticated %}
                    <h1>Bienvenido, {{ user.nombres }}</h1>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                    </form>
                    {% if user.is_staff %} 
                        <p>¡Eres administrador!</p>
                        <a href="{% url 'vistaadmin' %}">vista de admin</a>
                        
                    {% endif %}
                {% else %}
                    <h1>Bienvenido, por favor inicia sesión o regístrate</h1>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    <a href="{% url 'register' %}">Registrarse</a>
                {% endif %}

            </ul>
        </nav>
    </header>

    {% block content %}
    <div id="tatuajes" class="tatu-container">
        {% for tatuador in tatuadores %}
            <div class="tatuaje">
                <h1>{{ tatuador.nombre }}</h1>
                <p>Ejemplos de trabajo:</p>
                <div class="img-container">
                    {% for tatuaje in tatuajes %}
                        {% if tatuaje.tatuador == tatuador %}
                            <img src="{{ tatuaje.imagen }}" alt="Tatuaje de {{tatuador.nombre}}" class="tatuaje-imagen">
                        {% endif %}
                    {% endfor %}
                </div>
                <p>¿Interesado?</p>
                <a href="{% url 'pedir_cita' tatuador.dni %}"><button>Pedir cita</button></a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    
</body>
</html>
